@import "../../../assets/styles/variables.scss";

.card {
  width: 300px;
  margin: auto;
  margin-top: 20px;
  background-color: $red;
}

.header-image {
  background-size: cover;
}

.mat-card-header {
  background-color: $white;
  padding-top: 10px;
  border-radius: 10px;
}

.mat-card-title {
  text-transform: uppercase;
  color: $black;
}

.mat-card-subtitle {
  color: $black;
}

.mat-chip {
  background-color: $black;
}

// Types
.normal {
  background-color: #a4acaf;
}
.bug {
  background-color: #729f3f;
}
.water {
  background-color: #4592c4;
}
.psychic {
  background-color: #f366b9;
}
.fighting {
  background-color: #d56723;
}
.rock {
  background-color: #a38c21;
}
.steal {
  background-color: #9eb7b8;
}
.ground {
  background-color: #624615;
}
.fairy {
  background-color: #fbcce7;
}
.electric {
  background-color: #eed535;
}
.dagron {
  background-color: #193d50;
}
.dark {
  background-color: #020913;
}
.fire {
  background-color: #b32123;
}
.grass {
  background-color: #058b31;
}
